<ion-view view-title="">

	 <ion-nav-buttons side="left" >

  </ion-nav-buttons> 
  
  
	<ion-nav-title align-title="left">
        <img class="title-image" ui-sref="app.main()" src="img/head_logo.png" />
    </ion-nav-title>
    
   
    <ion-content class="content">
		
         <div class="mainDiv" align="center">
            <div class="subMainDiv">
                <div class="loginHeader" style="margin-top:20px;">
                    צור קשר
                </div>
                <div class="loginHr"></div>
                <div class="loginInputDiv" >
                    <input type="text" placeholder='שם מלא' class="loginInput" style=" background-color:white;"  ng-model="register.name">
                </div>
               
                <div class="loginInputDiv">
                    <input type="text" placeholder='מייל' class="loginInput"  style="background-color:white;"  ng-model="register.mail">
                </div>
                 <div class="loginInputDiv">
                    <input type="text" placeholder='נושא הפנייה' class="loginInput"  style=" background-color:white"  ng-model="register.password">
                </div>
                 <div  style="width:100%; padding:10px; text-align:right; direction:rtl">
                    <textarea rows="4" cols="50" placeholder='נושא הפנייה'  style=" background-color:white;  padding:10px; width:100%;"  ng-model="register.password"></textarea>
                </div>
                

                <div style="width:100%" align="center">
                	<div style="width:75%">
                    	<img src="img/send.png" style="width:100%;  margin-top:10px;" ng-click="doRegister()" />
                    </div>
                </div>
				
               
              
            </div>
        </div>
        
      
	
  </ion-content>
</ion-view>
