<ion-view view-title={{navTitle}}>
    <ion-content class="rtl has-subfooter" style="margin-top:-30px;">
        <div class="mainDiv" align="center">
            <div class="subMainDiv">
                <div class="loginHeader">
                    הוספת דיל
                </div>
				
                <div class="loginHr"></div>
				
				<div class="addImageMangeProject"  align="center" ng-click="CameraOptions(3)">
					<div ng-if="!dealfields.image">
						<img src="img/add_image.png" style="width:100%;" />
					</div>
					<div ng-if="dealfields.image">
						<img src="{{host}}/php/{{dealfields.image}}"  style="width:100%;" />
						
					</div>
				</div>

		
                <div class="loginInputDiv" >
                    <input type="text" placeholder='כותרת הדיל' class="loginInput" ng-model="dealfields.title">
                </div>
                <div class="loginInputDiv" >
                    <textarea rows="4" cols="50" class="loginInput" placeholder='תיאור הדיל' ng-model="dealfields.desc"></textarea>
                </div>
                <div class="loginInputDiv" >
                    <input type="text" placeholder='מחיר ישן' class="loginInput" ng-model="dealfields.oldprice">
                </div>
                <div class="loginInputDiv" >
                    <input type="text" placeholder='מחיר חדש' class="loginInput" ng-model="dealfields.price">
                </div>
				
                <div class="loginInputDiv" >
                    <input type="text" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder='תאריך הדיל'  class="loginInput" ng-model="dealfields.date">
                </div>				
				
				
                <button class="button button-block button-clear" ng-click="saveDeal()">
                    <img src="img/save.png" style="width: 100%">
                </button>
                <button class="button button-block button-clear" style="margin-top:15px;" ng-click="hideDealPop()">
                    <img src="img/cancel.png" style="width: 100%">
                </button>
              
            </div>
        </div>
    </ion-content>
   
</ion-view>
