<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">בחירת תמונה</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeImageModal()">סגירה</button>
    </div>
  </ion-header-bar>
  <ion-content>
		<div style="width:100%;">
		  <div style="width:70%:">
			 <img ng-repeat="item in Gallery" ng-click="selectImage($index,item)" src="{{host}}/{{item.image}}">
		  </div>
		</div>
  </ion-content>
</ion-modal-view>
