<ion-view style="background-color: transparent;">
    <button class="button button-clear infoCloseButton" ng-click="closePortfolioPopup()">
        <img src="img/close.png" style="width:25px">
    </button>
    <div class="infoBlock">
        <div class="infoMainImg" >
            <img ng-src="{{host}}/php/{{ portfolioInfo.image }}" style="width: 100%;">
        </div>
        <div class="infoPlaceHolder">
            <div class="infoLogo" >
                    <img ng-src="{{host}}/php/{{ Details.image }}" style="width:100%;">
            </div>
            <div class="infoText">
                <p class="infoTextTitle">{{ portfolioInfo.title }}</p>
                <p class="infoTextDesc">{{ portfolioInfo.desc }}</p>
				

			
			
            </div>

			
			
            <div class="infoButtons">
			<div ng-click="openSite(portfolioInfo.website)"  ng-if="portfolioInfo.website"><i class="ion-home" style="font-size:40px;"></i></div>
			<div ng-click="openSite(portfolioInfo.iphone_url)"  ng-if="portfolioInfo.iphone_url"><i class="ion-social-apple" style="font-size:40px;"></i></div>
			<div ng-click="openSite(portfolioInfo.android_url)"   ng-if="portfolioInfo.android_url"><i class="ion-social-android" style="font-size:40px;"></i></div>
            </div>
			
			
			
			
        </div>
    </div>
</ion-view>
