<ion-view view-title="">
	 <ion-nav-title align-title="left">
        <img class="title-image" ui-sref="app.main()" src="img/head_logo.png" />
  </ion-nav-title>
    <ion-content style="background-color:#fff9f1" >
		<div>

                <img src="{{host}}/php/{{diraData.image}}"  style="width:100%;" />
			
			<!--
  			<ion-slide-box  >
                  <ion-slide ng-repeat="item in Gallery">
                     
                  </ion-slide>
            </ion-slide-box>
			-->
        </div>
		<!--
        <table style="margin-top:-5px;">
        	<tr>
            	<td>
                	<img  src="img/main_icons/i1.png" ui-sref="app.contactsupplier({ItemId: diraData.agentindex})" style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img  src="img/main_icons/i2.png" ng-click="AddFavorite()" style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img  src="img/main_icons/i3.png" ng-click="SharePage()"  style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img  src="img/main_icons/i4.png" ng-click="showMap()"  style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img  src="img/main_icons/i5.png" ng-click="dialSupplier(diraData.agentphone)"  style="width:100%; margin-top:-3px;" />
                </td>
            </tr>
        </table>
		-->
        <div class="mainInfo" >
        	<div class="mainInfoText">
                <h3>{{diraData.name}}</h3>
                <h3 style="font-weight:300">{{diraData.address}}</h3>
                <h3>{{diraData.phone}}</h3>
				<h3 style="color:#f78e3b; font-size:23px;" ng-if="diraData.currency == 0">&#8362;{{diraData.price | number}}</h3>
				<h3 style="color:#f78e3b; font-size:23px;" ng-if="diraData.currency == 1">&#36;{{diraData.price | number}}</h3>
				<h3 style="color:#f78e3b; font-size:23px;" ng-if="diraData.currency == 2">&#8364;{{diraData.price | number}}</h3>

            </div>

       </div>
       
       <div class="greyLine"></div>
	   
       <div class="mainInfo" align="center">
                <h4 ng-bind-html="diraData.desc" style="width:90%; font-size:15px; white-space: pre-line;"></h4>
       </div>
      
       <div class="greyLine"></div>
	   <div style="text-align:right; width:100%; overflow:hidden; margin-top:15px; margin-bottom:15px; margin-right:70px;">
            <span ng-repeat="item in diraData.properties" style="float:right; margin-right:10px;">
            	<img src="img/v.png" style="float:right; width:30px;"> 
            	<div style="float:right; width:80px;">{{item.name}}</div> 
            </span>   
	   </div>
            



         <div class="greyLine"></div>
		 
		 <div align="center" ng-if="diraData.imagegallery.length > 0">
			
            <div style="width:100%; overflow:hidden; margin-top:20px;">
                <div  ng-repeat="item in diraData.imagegallery" style="width:33%; float:right;">
                    <img src="{{host}}/php/{{item.image}}" ng-click="showImgPopUp(item.image)" style="width:100%;" />
                </div>		
			</div>
		</div>


         <div class="greyLine"></div>
		 




    </ion-content>





</ion-view>
