<ion-view view-title="">

	 <ion-nav-buttons side="left" >

  </ion-nav-buttons> 
  
  
	<ion-nav-title align-title="left">
        <img class="title-image" ui-sref="app.main()" src="img/head_logo.png" />
    </ion-nav-title>
    
   
    <ion-content class="content">
		
         <div class="mainDiv" align="center">
            <div class="subMainDiv">
                <div class="loginHeader" style="margin-top:20px;">
                    הרשמה
                </div>
                <div class="loginHr"></div>
                <div class="loginInputDiv" >
                    <input type="text" placeholder='שם מלא' class="loginInput" style=" background-color:white;"  ng-model="register.name">
                </div>
                <div class="loginInputDiv" style="margin-bottom:0px;" >
					
					<div style="width:10%; float:left; line-height:50px;" tooltips tooltip-template="שם העסק או שם פרטי באנגלית ללא רווחים">
						<i class="ion-information-circled" style="font-size:30px;"></i>
					</div>
					
					<div style="width:90%; float:right; ">
						<input type="text" placeholder='סאב דומיין' class="loginInput"  style=" background-color:white;"  ng-model="register.subdomain">
					</div>
                </div>
                <div class="loginInputDiv">
                    <input type="text" placeholder='מייל' class="loginInput"  style="background-color:white;"  ng-model="register.mail">
                </div>
                 <div class="loginInputDiv">
                    <input type="text" placeholder='הכנס סיסמא' class="loginInput"  style=" background-color:white"  ng-model="register.password">
                </div>
                 <div class="loginInputDiv">
                  <label class="item item-input item-select">
                    <div class="input-label" style="color:white">
                      קטגוריה
                    </div>
                    <select ng-model="register.category">
                      <option value="-1" selected>יש לבחור קטגוריה</option>
                      <option value="{{item.index}}" ng-repeat="item in Catagories">{{item.name}}</option>
                    </select>
                  </label>
                </div>
				
				
                 <div class="loginInputDiv">
                  <label class="item item-input item-select">
                    <div class="input-label" style="color:white">
                      תת קטגוריה
                    </div>
                    <select ng-model="register.subcat">
                      <option value="-1" selected>יש לבחור קטגוריה</option>
                      <option value="{{item.index}}" ng-repeat="item in Subcategories">{{item.title}}</option>
                    </select>
                  </label>
                </div>
				
				<div style="font-size:15px; padding-bottom:10px;">
					<i class="ion-android-checkbox-outline-blank" ng-show="!register.terms" style="font-size:30px;" ng-click="agreeTerms(true)"></i>
					<i class="ion-android-checkbox-outline" ng-show="register.terms" style="font-size:30px;" ng-click="agreeTerms(false)"></i>						
					<span>יש לאשר תנאי שימוש</span>
					<span ng-click="openTerms()"><a href="">צפיה בתנאי השימוש </a></span>
				</div>

                <div style="width:100%" align="center">
                	<div style="width:75%">
                    	<img src="img/login.jpg" style="width:100%;  margin-top:10px;" ng-click="doRegister(0)" />
                        
                        <p ui-sref="app.login()" style=" margin-top:10px;"><< משתמש קיים</p>
                    </div>
                </div>
				
               
              
            </div>
        </div>
        

	
  </ion-content>
</ion-view>
