<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">שיתוף</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeShareModal()">סגירה</button>
    </div>
  </ion-header-bar>
  <ion-content>
	<div class="list" style="direction:rtl;">
	  <label class="item item-input item-stacked-label">
		<span class="input-label">שם הנמען</span>
		<input type="text" placeholder="שם הנמען" ng-model="sharefields.name">
	  </label>
	  <label class="item item-input item-stacked-label">
		<span class="input-label">טלפון הנמען</span>
		<input type="tel" placeholder="טלפון הנמען" ng-model="sharefields.phone">
	  </label>
	</div>
	  <div class="padding" ng-click="sendShare()">
        <button class="button button-block button-positive">שליחה</button>
      </div>	
  </ion-content>
</ion-modal-view>
