<ion-view view-title="" hide-nav-bar="false" >
	 <ion-nav-title align-title="left">
        <img class="title-image" ui-sref="app.main()" src="img/head_logo.png" />
  </ion-nav-title>
  <ion-content style="padding:0px; margin:0px; margin-bottom:-7px; background-color:#999 ">
  
  
	<button class="button button-positive" ng-click="goStore()">לכרטיס ביקור</button>  
  
  
  
  	 <div ng-repeat="item in catArray" ng-click="goProductPage(item.index,$index)">
    	 <img src="{{host}}/{{item.image}}" imageonload style="width:100%; margin-top:-4px;" />
     </div>
  </ion-content>
</ion-view>