<ion-view view-title={{navTitle}}>
    <ion-content class="rtl has-subfooter" style="margin-top:-30px;">
        <div class="mainDiv" align="center">
            <div class="subMainDiv">
                <div class="loginHeader">
                    {{htmlText}}
                </div>
                <div class="loginHr"></div>
                <div class="loginInputDiv" ng-if = "editState == 1">
                    <input type="text" placeholder='הכנס שם עסק' class="loginInput" ng-model="Details.name">
                </div>

                <div class="loginInputDiv" ng-if = "editState == 2">
                    <input type="text" placeholder='תיאור העסק' class="loginInput" ng-model="Details.desc">
                </div>

                <div class="loginInputDiv" ng-if = "editState == 3">
                    <input type="text" placeholder='טלפון העסק' class="loginInput" ng-model="Details.phone">
                </div>	

                <div class="loginInputDiv" ng-if = "editState == 4" style="margin-bottom:100px;">
                    <input type="text" placeholder='כתובת העסק' g-places-autocomplete force-selection="true" options="autocompleteOptions" class="loginInput" ng-model="Details.address">
					
                </div>

                <div class="loginInputDiv" ng-if = "editState == 5">
                    <input type="text" placeholder='דף פייסבוק' class="loginInput" ng-model="Details.facebook">
                </div>	

                <div class="loginInputDiv" ng-if = "editState == 6">
                    <input type="text" placeholder='אתר הבית' class="loginInput" ng-model="Details.website">
                </div>	

                <div class="loginInputDiv" ng-if = "editState == 7">
                    <input type="text" placeholder='כתובת מייל' class="loginInput" ng-model="Details.contactmail">
                </div>	

                <div class="loginInputDiv" ng-if = "editState == 8">
                    <input type="text" placeholder='כתובת אינסטגרם' class="loginInput" ng-model="Details.instagram">
                </div>
				
				
                <button class="button button-block button-clear" ng-click="sendDetails()">
                    <img src="img/save.png" style="width: 100%">
                </button>
                <button class="button button-block button-clear" style="margin-top:15px;" ng-click="hideInfo()">
                    <img src="img/cancel.png" style="width: 100%">
                </button>
              
            </div>
        </div>
    </ion-content>
   
</ion-view>
