	

	<ion-view view-title="">
	<ion-nav-title align-title="left">
        <img class="title-image" ui-sref="app.main()" src="img/head_logo.png" />
    </ion-nav-title>
	

	
    <ion-content class="" style="background-color:#fff9f1">
	
	  <div class="list">
	  <div class="item-input-inset" style="margin-top:-1px;">
		<label class="item-input-wrapper" style="text-align:right; direction:rtl">
		  <input type="text" ng-model="searchInput" ng-keydown="BlurSearch()" style="text-align:right; direction:rtl" placeholder="חיפוש">
		</label>
		<button class="button button-small">
		  חפש
		</button>
	  </div>
			
	</div>
	
       <div ng-repeat="item in SupplierDeals | filter:searchInput">
	   
			<div >
				<div class="dealDiv">
					<img ng-src="{{host}}/{{item.image}}" ui-sref="app.test({ItemId: $index})" style="width:100%; position:relative; top:0; left:0; z-index:0;"  />
					
					<div id="overlayImage" ui-sref="app.dealdetails({ItemId: $index})">
						<div id="overImg"></div>
						<div id="overlayRight">
							<p id="dealInfo1">{{item.title | stripslashes:true}} </p>
							<p id="dealInfo1">{{item.desc | stripslashes:true}} </p>
							<div id="dealInfo3" style="font-size:18px;">
								 <span id="newPrice" ng-if="item.oldprice">{{item.oldprice}}</span> <span id="oldPrice">{{item.price}} &#8362;</span>
							</div>
						</div>
						
						<div id="overlayLeft" style="">
							<img src="img/date1.png" style="height:70px; margin-top:5px; float:left; margin-left:20px;" />
							<div id="dateText">
								<p id="dateText1">{{cutDate(item.dealdate)}}</p>
								<p id="dateText2">{{cutYear(item.dealdate)}}</p>
							</div>
						<div>
					</div>
				</div>
			 
			 </div>
	 
	 </div>

 </div>

  </div>    

    </ion-content>
</ion-view>
