<ion-view style="background-color: transparent;">
    <button class="button button-clear infoCloseButton" ng-click="closeDealPopup()">
        <img src="img/close.png" style="width:25px">
    </button>
    <div class="infoBlock">
        <div class="infoMainImg" >
            <img ng-src="{{host}}/php/{{ dealInfo.image }}" style="width: 100%;">
        </div>
        <div class="infoPlaceHolder">
            <div class="infoLogo" >
                    <img ng-src="{{host}}/php/{{ Details.image }}" style="width:100%;">
            </div>
            <div class="infoText">
                <p class="infoTextTitle">{{ dealInfo.title }}</p>
                <p class="infoTextDesc" style="direction:rtl;">{{ dealInfo.price }} &#8362; במקום {{ dealInfo.oldprice }} &#8362;</p>
                <p class="infoTextDesc">{{ dealInfo.desc }}</p>
                <p class="infoTextDesc">{{ Details.address }}</p>
                <p class="infoTextDesc">{{ Details.phone }}</p>
            </div>
            <div class="infoButtons">

                <div class="infoPhone">
                    <a href="tel:{{ Details.phone }}"><img src="img/phone_icon.png" width="30"></i></a>
                </div>
            </div>
        </div>
    </div>
</ion-view>
