<ion-view style="background-color: transparent;">
    <button class="button button-clear infoCloseButton" ng-click="hideInfo()">
        <img src="img/close.png" style="width:25px">
    </button>
    <div class="infoBlock">
       <!-- <div class="infoMainImg">
            <img ng-src="{{Host}}/{{ dealInfo.image }}" style="width: 100%;">
        </div> -->
        <div class="infoPlaceHolder">
            <div class="infoLogoPopUp">
                    <img src="{{host}}/php/{{currentImage}}" style="width:100%;">
            </div>
        </div>
    </div>
</ion-view>
