<ion-view view-title="">

	 <ion-nav-buttons side="left" >

  </ion-nav-buttons> 
  
  
	<ion-nav-title align-title="left">
        <img class="title-image" ui-sref="app.main()" src="img/head_logo.png" />
    </ion-nav-title>
    
   
    <ion-content class="content">

	<button class="button button-block button-positive" ng-click="selectImageModal()">
	  בחירת תמונה
	</button>
	
	<div ng-if="deal.image">
	<img src="{{host}}/{{deal.image}}" style="width:100%;">
	</div>
	
      <div class="list">
        <label class="item item-input">
          <span class="input-label">כותרת</span>
          <input type="text" ng-model="deal.title">
        </label>
		
        <label class="item item-input">
          <span class="input-label">תיאור</span>
		  	<textarea placeholder="" rows="4" cols="50" ng-model="deal.desc" class="ion-input-select--large itemSelectedBoxQ" ></textarea>
        </label>		

        <label class="item item-input">
          <span class="input-label">כתובת המבצע</span>
          <input type="text"  ng-model="deal.address" g-places-autocomplete force-selection="true" options="autocompleteOptions"  >
        </label>

		
        <label class="item item-input">
          <span class="input-label">תאריך המבצע</span>
          <input type="text" onClick="(this.type='date')" onfocus="(this.type='date')" ng-model="deal.dealdate">
        </label>

		
        <label class="item item-input">
          <span class="input-label">מחיר לפני הנחה</span>
          <input type="tel" ng-model="deal.oldprice">
        </label>
		
 
        <label class="item item-input">
          <span class="input-label">מחיר אחרי הנחה</span>
          <input type="tel" ng-model="deal.price">
        </label>
		
        <label class="item">
          <button class="button button-block button-positive" ng-click="saveDeal()"   >שמירה</button>
        </label>

		
      </div>
	
  </ion-content>
</ion-view>
