	

	<ion-view view-title="">
	<ion-nav-title align-title="left">
        <img class="title-image" ui-sref="app.main()" src="img/head_logo.png" />
    </ion-nav-title>
	

	
    <ion-content class="" style="background-color:#f1f2f2">
		
        <!-- placeholder="{{'home_input1' | translate}}" ng-model="fields.search" ng-keypress="enterPress($event)"  -->
        <div class="mainSearchBoxDiv" align="center">
            <div class="mainSearchBox">
                <div class="mainSearchBoxRight">
                    <div style="border-bottom:2px solid #b2d233;">
                        <input ng-model="searchInput" ng-keydown="BlurSearch()" type="text" style="width:100%; background-color:#fff" placeholder="חפש עסק" />
                    </div>
                </div>
                <div class="mainSearchBoxLeft" align="center" >
                    <div ng-click="doSearch()" align="right">
                        <img src="img/search.png" style="width:39px; height:36px; border:1px solid #b2d233;" />
                    </div>
                </div> 
            </div>
        </div>
        
	 
		  <ion-scroll ng-if="ItemId > 0" direction="x" class="wide-as-needed" delegate-handle="daysScroll" style="margin-top:5px;">
			<a ng-click="selectCat($index,item.index)" class="button  daysButton" style="height:10px !important" ng-repeat="item in Catagories"> {{item.title}}</a>
		  </ion-scroll>
	</div>
			
	</div>
	
		<div style="height:1px; width:100%; background-color:#4d4d4d">
        	
        </div>
		<!-- NG - Repeat -->
		<!-- | orderBy:arrangeBy  ng-click="navigateCard(item)"-->
		
        <div  ng-repeat="item in SuppliersArray | orderBy:arrangeBy | filter:searchInput" style="margin-top:15px;" >

			<div class="ListRow" ng-click="navigateCard(item)">
			
				<div class="ListRight"  >
					<img  ng-src="{{host}}/{{item.image}}" style="width:100%; margin-top:-3px;"  />
				</div>
				<div class="ListCenter"  >
					<p class="bName">{{item.name}}</p>
					<h3 style="margin-top:-5px">{{item.phone}}</h3>
					<h3 style="margin-top:-10px; font-size:16px;">{{item.address}}</h3>
				</div>
				
                <div class="ListLeft" style="text-align:center;">
                    <!--<div ng-click="navigateCard(item)" style=""><img  src="img/card1.png" style=" width:30px;" />
                        <div>כרטיס ביקור</div>
                    </div-->			
                    <div style="" ng-if="item.dist">
                        <img  src="img/map.png" style="width:30px;" />
                        <div style="direction:rtl;">{{formatNumber(item.dist)}} ק"מ ממיקומך</div>
                    </div>				
				</div>

			
			<!--
			<div class="ListCenter" style="float:left; width:30%; " >
				<!--<button class="button button-balanced" ui-sref="app.deals({ItemId: item.index})">
				  למבצעים
				</button>
			</div>
			-->

		
			</div>
			
			
			
			
		
            <div>
        		<img  src="img/line.png" style="width:100%; margin-top:-3px;" />
        	</div>	

			<!--
            <div class="ListLeft">
            	<div align="center" style="width:100%">
                	<div align="center" style="width:90%">
            			<img  src="img/map.png" style="width:100%; " />
                    </div>
                </div>
                <p style="direction:rtl; text-align:center">2 ק"מ ממיקומך</p>
            </div>
			-->
			
			<!--
			<div style="float:right;">
				<button ng-if="item.shopCount > 0" ng-click="getDetails(item)" class="button button-positive">לחנות</button>
				<button ng-click="navigateCard(item)" class="button button-positive">כרטיס ביקור</button>
			</div>
			-->

    	</div>       

    </ion-content>
</ion-view>
