<ion-view >
	<ion-nav-title align-title="left">
        <img class="title-image" ui-sref="app.main()" src="img/head_logo.png" />
    </ion-nav-title>

	
  <ion-content class="content">
  		<section class="" style="width:100%;">
            <div class="DealMainImage">  

			
			<!--
            <ion-slide-box active-slide="myActiveSlide">
                  <ion-slide  ng-repeat="item in dealsImageGallery">
                  		 <img src="{{host}}/{{item}}" style="width:100%" />
                  </ion-slide>
            </ion-slide-box> 
			-->


            	<img ng-src="{{host+'/'+DealDetails.image}}" style="width:100%" />
			
				<p class="DealPageTitle">{{DealDetails.title}}</p>          
            </div>
            
            <div class="list card">

                  
                  <div class="item DelaInfo">
                    בתוקף עד : {{DealDetails.dealdate}}
                  </div>
                  
                  <div class="item DelaInfo">
                    מחיר : {{DealDetails.price}}&#8362;
                  </div>
                  <!--
                  <div class="item DelaInfo">
                    <p class="cardIcons" style="padding-bottom:10px !important; margin-top:-6px;">
                     
                      <a href="#" class="subdued" style="margin-left:0px !important;">{{Deal.views}} <i class="icon ion-ios-eye-outline" style="font-size:20px; top:3px !important; position:relative;"></i> 
                      <a href="#" class="subdued" style="margin-left:8px !important;" >{{Deal.likes}} <i class="icon ion-ios-heart-outline" style="margin-right:1px !important;"></i> </a>
                      <a href="#" class="subdued" >232 <i class="icon ion-ios-pricetags-outline" style="margin-right:1px !important;"></i> </a>
                      
                    </p>
                  </div>
				  -->
			</div>
            <div class="DealMainInfo"> 
            	<div ng-bind-html="DealDetails.desc | toTrusted"> </div>
            </div>
        </section>
  </ion-content>
</ion-view>
