<ion-view view-title="">

	 <ion-nav-buttons side="left" >

  </ion-nav-buttons> 
  
  
	<ion-nav-title align-title="left">
        <img class="title-image" ui-sref="app.main()" src="img/head_logo.png" />
    </ion-nav-title>
    
   
    <ion-content class="content">
		
         <div class="mainDiv" align="center">
            <div class="subMainDiv">
                <div class="loginHeader" style="margin-top:20px;">
                    התחברות חנות
                </div>
                <div class="loginHr"></div>
                <div class="loginInputDiv" >
                    <input type="text" placeholder='הכנס מייל' class="loginInput" style=" background-color:white"  ng-model="login.mail">
                </div>
                 <div class="loginInputDiv">
                    <input type="text" placeholder='הכנס סיסמה' class="loginInput"  style=" background-color:white"  ng-model="login.password">
                </div>
                <div style="width:100%" align="center">
                	<div style="width:75%">
                    	<img src="img/enter_app.png" style="width:100%;  margin-top:10px;" ng-click="doLogin(1)" />
                        
                        <p ui-sref="app.registershop()" style=" margin-top:10px;"><< משתמש חדש</p>
						<p ui-sref="app.forgotstore()" style=" margin-top:10px;">שכחתי סיסמה</p>
                    </div>
                </div>
				
               
              
            </div>
        </div>
        
        

	
  </ion-content>
</ion-view>
