<ion-view view-title="">

	 <ion-nav-buttons side="left" >

  </ion-nav-buttons> 
  
  
	<ion-nav-title align-title="left">
        <img class="title-image" ui-sref="app.main()" src="img/head_logo.png" />
    </ion-nav-title>
    
   
    <ion-content class="content">
		
         <div class="mainDiv" align="center">
            <div class="subMainDiv">
                <div class="loginHeader" style="margin-top:20px;">
                    הגדרות
                </div>
                <div class="loginHr"></div>
                <div class="loginInputDiv" >
                    <input type="text" placeholder='סיסמה' class="loginInput" style=" background-color:white;"  ng-model="settingsfields.password">
                </div>


                <div style="width:100%" align="center">
                	<div style="width:75%">
                    	<img src="img/save.png" style="width:100%;  margin-top:10px;" ng-click="saveLoginSettings(0)" />
                        
                    </div>
                </div>
				
               
              
            </div>
        </div>
        

	
  </ion-content>
</ion-view>
