<ion-view view-title="" hide-nav-bar="false" cache-view="false">
  <ion-nav-title align-title="left">
        <img class="title-image" ui-sref="app.main()" src="img/head_logo.png" />
  </ion-nav-title>
    <!-- style="background-image: url('img/pattern/{{ settings.pattern }}.png' )" -->
	
	
	 <!-- on-swipe-right="Swipe(0)"  on-swipe-left="Swipe(1)" -->
  <ion-content ng-style="contentStyle"   style="background-color:white" >
  		<!--<div class="settingsIcon" ng-click="toggleLeftSideMenu()">
        	 <i class="icon ion-ios-cog-outline"></i>
        </div>
		
		<div style="float:right;" ng-click="ShareBtn()">
			<img src="img/icons/1/2/1.png" style="width:50px; height:50px;">
		</div>-->
		
        <!-- Crad 1 -->
        <div ng-if="settings.cardType == 1" >
            <div class="c1Logo" align="center">
                <div ng-click="CameraOptions(0)">
                    <img src="{{host}}/php/{{Details.image}}" style="width:100%" />
                </div>
            </div>
            <div class="Icons c1icons" align="center" >
                <div class="IconsContent" ng-repeat="item in DetailsArray" ng-click="openChangeDialog($index,item.value,item.text)">
                    <div class="Icon c1Icon">
                         <div class="verticalLine" ng-if="$index%2 == 1">
                             <img src="img/lines/{{settings.lineType}}/{{settings.lineColor}}/vertical.png" style="width:100%" />
                        </div>
                        <div align="center">
                            <div class="c1Line"  ng-if="$index > 1" align="center">
                                <img src="img/lines/{{settings.lineType}}/{{settings.lineColor}}/horizontal.png" style="width:100%" />
                            </div>
                            <div class="iconDiv" align="center">
                                <img src="img/icons/{{settings.iconType}}/{{settings.iconColor}}/{{item.icon}}.png" style="width:100%" />
                            </div>
                            <div ng-style="contentStyle" style="font-family:{{Family}}">{{item.text}} </div>
                        </div>
                        
                        
                    </div>
                 </div>
            </div>
         </div> 
         <!-- Crad 2 -->
        <div ng-if="settings.cardType == 2">
            <div class="c2Logo" align="center">
                <div>
                    <img src="img/img.png" style="width:100%" />
                </div>
            </div>
            
            <div align="center">
            	<div class="c2NameTab">
                	אינה טל | מעצבת גרפית
                </div>
            </div>
            
            <div align="center">
            	<div class="c2Title">
                	אודות | מוגבל עד 40 תוים. בת 28, תואר ראשון בעיצוב גרפי במכללת ויצו. כיום מנהלת סטודיו בחברת שיווקיסט. אני מזמינה אותכם להצטרף אלינו לחברה ולצמוח.
                </div>
            </div>
            <div class="Icons c1icons" align="center">
                <div class="c2IconsContent" ng-repeat="item in DetailsArray" ng-click="openChangeDialog($index,item.value,item.text)">
                    <div class="Icon c1Icon">
                        <div class="c2verticalLine" ng-if="$index%2 == 1">
                             <img src="img/lines/{{settings.lineType}}/{{settings.lineColor}}/vertical.png" style="width:100%" />
                        </div>
                        <div align="center">
                            <div class="c1Line" align="center">
                                <img src="img/lines/{{settings.lineType}}/{{settings.lineColor}}/horizontal.png" style="width:100%" />
                            </div>
                            <div class="c2iconDiv" align="center">
                                <img src="img/icons/{{settings.iconType}}/{{settings.iconColor}}/{{item.icon}}.png" style="width:100%" />
                            </div>
                            <div ng-style="contentStyle" style="font-family:{{Family}}; margin-top:-10px;">{{item.text}}</div>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="c2Line" align="center" style="margin-top:6px">
                 <img src="img/lines/{{settings.lineType}}/{{settings.lineColor}}/horizontal.png" style="width:100%" />
            </div>
        </div>
        
        
        
         <!-- Crad 3 -->
        <div ng-if="settings.cardType == 3">
            <div align="center">
            	<div class="c3NameTab" ng-if="Details.name">{{Details.name}}</div>
				<div class="c3NameTab" ng-if="!Details.name" style="font-size:15px;">לחצ/י על האיקון בצד שמאל לעריכת שם העסק</div>

                <div class="editTitle" ng-click="openEditPopup(1)">
                	<img src="img/edit.png" style="width:100%" />
                </div>
            </div>
            
            <div align="center">
            	<div class="c3Image" ng-click="CameraOptions(0)">
                	<img src="{{host}}/php/{{Details.mainimage}}" ng-if="Details.mainimage" style="width:100%"  />
					<img src="img/add_image.png" ng-if="!Details.mainimage" style="width:100%"  />

                </div>
            </div>
            
             <table style="margin-top:-5px;">
        	<tr>
            	<td>
                	<img  src="img/main_icons/inst.png" ng-click="openEditPopup(8)" style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img   src="img/main_icons/face.png" ng-click="openEditPopup(5)" style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img   src="img/main_icons/waze.png" ng-click="openEditPopup(4)"  style="width:100%; margin-top:-3px;" />
                </td>
            </tr>
        </table>
        
             <table style="margin-top:-5px;">
        	<tr>
            	<td>
                	<img  src="img/main_icons/ic2.png" ng-click="openEditPopup(6)" style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img   src="img/main_icons/ic4.png" ng-click="openEditPopup(3)" style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img   src="img/main_icons/ic3.png" ng-click="openEditPopup(7)"  style="width:100%; margin-top:-3px;" />
                </td>
                <td>
                	<img   src="img/main_icons/ic1.png"  ng-click="shareOptions()"  style="width:100%; margin-top:-3px;" />
                </td>
             <!--   <td>
                	<img   src="img/main_icons/i5.jpg" ng-click="openEditPopup(3)"  style="width:100%; margin-top:-3px;" />
                </td>-->
            </tr>
        </table>
		
		
            
           	<div class="c3bInfo">
            	<div class="c3RightLogo">
                	
                             <div class="c3Logo" align="center">
                                <div ng-click="CameraOptions(1)">
                                    <img src="{{host}}/php/{{Details.image}}" ng-if="Details.image"  />
                                    <img src="img/logo.jpg" ng-if="!Details.image"  />
                                </div>
                             </div>
                         
                	<!-- <div style="width:100%" align="center">
                    	<div style="width:80%" >
                			<img src="img/logo.jpg" style="width:100%"/>
                        </div>
                    </div>-->
                </div>
                <div class="c3RightInfo">
                	<h3> {{Details.name}}  </h3>
                    <p ng-if="!Details.address.formatted_address"> {{Details.address}}  </p>
                    <p ng-if="Details.address.formatted_address"> {{Details.address.formatted_address}}  </p>
                    <p ng-if="Details.phone"> טלפון : {{Details.phone}}  </p>
					
					<p ng-if="!Details.phone">לחצ/י על איקון טלפון לעריכה</p>
					<p ng-if="!Details.address">לחצ/י על איקון כתובת לעריכה</p>
					
                </div>
               <!-- <div class="c3LeftIcon" ng-click="shareOptions()" align="center">
                	<div style="width:60%">
					 <img src="img/shareicon.png"  style="width:100%" />
                     </div>		
                </div>-->
            </div>
			
		

			
            <div class="editBussiness" ng-click="openEditPopup(2)"> 
                	<img src="img/edit.png" style="width:100%" />
            </div>
            <div class="c3Title">
            	על העסק 
            </div>
            <div style="width:100%" align="center">
            	<div class="c3Line">
    			</div>
            </div>
            <div align="center">
            	<div ng-if="!Details.desc" class="c3Info">		
					לחצ/י על האיקון בצד שמאל לעריכת אודות העסק
				</div>
            	<div ng-if="Details.desc" class="c3Info">
                	{{Details.desc}}
                </div>
            </div>
            
            <!-- Gallery -->
            <div class="editBussiness" ng-click="CameraOptions(2)"> 
                	<img src="img/plus.png" style="width:100%" />
            </div>
            <div class="c3Title">
            	גלריית תמונות
            </div>
            <div style="width:100%" align="center">
            	<div class="c3Line">
    			</div>
            </div>
            <div align="center">
            	<div ng-if="Details.galleryimages.length == 0" class="c3Info">		
					לחצ/י על האיקון בצד שמאל להוספת תמונה לגלרייה
				</div>
            	 <div style="width:100%; overflow:hidden; margin-top:7px;" align="center">
                 	<div style="width:90%">
                         <div  ng-repeat="item in Details.galleryimages" style="width:33%; float:right;">
                             <div class="delBussiness" ng-click="deleteGalleryImage($index,item.index)">
                                <img src="img/del.png" style="width:100%" />
                            </div>
                            <img src="{{host}}/php/{{item.image}}" ng-click="showImgPopUp(item.image)" style="width:100%;" />
                        </div>	
                    </div>
				</div>
            </div>
			
			
            
            
            
            
              <!-- Deals 
            <div class="editBussiness" ng-click="openNewDealPopup()"> 
                	<img src="img/plus.png" style="width:100%" />
            </div>
            <div class="c3Title">
            	מבצעים חדשים
            </div>
            <div style="width:100%" align="center">
            	<div class="c3Line">
    			</div>
            </div>
            <div align="center">
            	<div ng-if="Details.deals.length == 0" class="c3Info">		
					לחצ/י על האיקון בצד שמאל להוספת מבצע חדש
				</div>
            	<div class="deal" ng-repeat="item in Details.deals" align="center"  >
            	<div style="width:95%">
                	<div class="delBussiness" ng-click="deleteDeal($index,item.index)">
                		<img src="img/del.png" style="width:100%" />
           			 </div>
                    <div class="dealImg">
                        <img src="{{host}}/php/{{item.image}}" style="width:100%" />
                    </div>
                    <div class="dealBck">
                    	<img src="img/deal/bck.png" style="width:100%" />
                        <div class="dealInfo">
                        	<div class="dealPrice" align="center">
                            	<div style="width:80%">  
                                	<div class="newPrice">{{item.price}} <span style="font-size:12px; margin-left:7px;">&#8362;</span></div>
                                    <div class="oldPrice" ng-if="item.oldprice">במקום <span style="text-decoration:line-through;">{{item.oldprice}}</span> <span style="font-size:8px; margin-left:15px;">&#8362;</span></div>
                            		<img src="img/deal/circle.png" style="width:100%; z-index:1" />
                                </div>
                            </div>
                            <div class="dealDetails">
                            	<h3>{{item.title}}</h3>
                                <p>{{item.desc}}</p>
                            </div>
                            <div ng-if="item.supplier_info[0].dist" class="dealPlace" align="center">
                            	<div style="width:100%" align="center">
                                    <div style="width:50%">  
                                        <img src="img/deal/map.png" style="width:100%" />
                                    </div>
                                </div>
                                <p>{{item.supplier_info[0].dist}} ק"מ ממיקומך</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
			
			-->

			
       		
            
           
        	
           
			
			
			
            
			
			
        </div>
  </ion-content>
</ion-view>









