<ion-view view-title="">

<ion-view view-title="{{navTitle}}" hide-back-button="false" cache-view="false">

	 <ion-nav-buttons side="left" >
        <a class="item-icon-right" href="#" style="text-decoration:none; width:150px; margin:0px; margin-top:3px; padding:0px; " ui-sref="app.basket()">
        	<img src="img/basketIcon.png" style="width:30px; float:left" />
        	<span class="" style="z-index:100; position:relative; top:5px; left:5px; color:#004d6e; font-weight:bold; width:100px; font-size:18px; float:left; "> &#8362; {{BasketPrice | number}}</span>
  		</a>
  </ion-nav-buttons> 
  
  
	<ion-nav-title align-title="left">
        <img class="title-image" ui-sref="app.main()" src="img/head_logo.png" />
    </ion-nav-title>
    
   
    <ion-content class="content">
		
         <div class="mainDiv" align="center">
            <div class="subMainDiv">
                <div class="loginHeader" style="margin-top:20px;">
                    תשלום
                </div>
                <div class="loginHr"></div>
                <div class="loginInputDiv" >
                    <input type="text" placeholder='שם מלא' class="loginInput" style=" background-color:white;"  ng-model="paymentfields.name">
                </div>
                <div class="loginInputDiv">
                    <input type="text" placeholder='מספר תעודת זהות' class="loginInput"  style=" background-color:white;"  ng-model="paymentfields.subdomain">
                </div>
                <div class="loginInputDiv">
                    <input type="text" placeholder='מספר כרטיס אשראי' class="loginInput"  style="background-color:white;"  ng-model="paymentfields.mail">
                </div>



                <div style="width:100%" align="center">
                	<div style="width:75%">
                    	<img src="img/login.jpg" style="width:100%;  margin-top:10px;" ng-click="doPayment()" />                        
                    </div>
                </div>
				
               
              
            </div>
        </div>
        

	
  </ion-content>
</ion-view>
