/* Empty. Add your own CSS if you like */


.mt10
{
	margin-top:10px;
}

.mt15
{
	margin-top:15px;
}

.mt20
{
	margin-top:20px;
}
/* Crad 1 */
.contentStyle
{
	font-family: 'Alef', sans-serif;
}
.settingsIcon
{
	position:absolute;
	font-size:40px;
	top:8px;
	left:12px;
}

.c1Logo
{
	width:100%;
	margin-top:20px;
}

.c1Logo div
{
	width:70%;
}


.Icons
{
	overflow:hidden;
	width:100%;
	margin-top:20px;
}

.IconsContent
{
	width:80%;
}

.Icon
{
	width:50%;
	float:left;
	
}

.iconDiv
{
	width:80%;
}

.c1Line
{
	width:100%;
}

.iconDescription
{
	color:white;
}

.verticalLine
{
	position:absolute;
	height:100px;
}


.menuTabSelected
{
	text-align:right;
	background-color:white;
}

.menuTab
{
	text-align:right;
	background-color:#CCC;
}


/* Card 2*/


.c2Logo 
{
	width:100%;
	margin-top:20px;
}

.c2Logo div
{
	width:45%;
}


.c2NameTab
{
	background-color:#5dc2ae;
	width:80%;
	padding:8px;
	margin-top:10px;
	direction:rtl
}

.c2Title
{
	width:80%;
	padding:8px;
	margin-top:10px;
	text-align:center;
	font-size:15px;
	direction:rtl
}

.c2iconDiv
{
	width:35%;
}

.c2IconsContent
{
	width:100%;
}

.c2verticalLine
{
	position:absolute;
	margin-top:14px;
}

/* Crad 3 */

.c3NameTab
{
	background-color:#b2d233;
	width:100%;
	padding:8px;
	margin-top:0px;
	direction:rtl;
}

.c3Image
{
	width:100%;
	direction:rtl;
}

.c3Title
{
	text-align:right;
	padding:5px; 
	color:#4d4d4d;
	margin-top:10px;
	margin-right:5%;
	font-weight:600;
	font-family: 'Rubik', sans-serif;
	font-size:22px;
}

.c3Line
{
	width:90%;
	height:1px;
	background-color:#b2d233;
	margin-top:3px;
}

.c3Line1
{
	width:95%;
	height:1px;
	background-color:#b2d233;
	margin-top:3px;
}

.c3Info
{
	width:90%;
	padding:8px;
	margin-top:10px;
	text-align:right;
	font-size:15px;
	direction:rtl
}

.c3bInfo
{
	width:100%;
	overflow:hidden;
	margin-top:20px;
}

.c3RightInfo
{
	float:right;
	width:55%;
	text-align:right;
}

.c3RightInfo h3
{
	font-size:19px;
	color:#4d4d4d;
	margin-top:0px;
	color:black;
}

.c3RightInfo p
{
	font-size:15px;
	color:#4d4d4d;
	margin-top:-7px;
}

.c3RightLogo
{
	width:30%;
	float:right;
	margin-right:0%;
}

.c3Logo img
{
	width:100px;
	height:100px;
	margin-top:0px;
}

.c3LeftIcon
{
	float:right;
	width:14%;
}

.content
{
	background-color:#e4e9ea;
}


.title-image
{
	width:130px;
	position:relative;
	margin-top:-3px;
	z-index:100;
}

.mainSearchBoxDiv
{
	width:100%;
}
.mainSearchBox
{
	overflow:hidden;
	width:95%;
}

.mainSearchBoxRight
{
	width:91%;
	float:right;
}

.mainSearchBoxRight div
{
	width:100%;
	margin-top:20px;
}

.mainSearchBoxRight div input
{
	text-align:right;
	padding-right:10px;
	padding-top:-23px;
}

.mainSearchBoxLeft
{
	width:8.5%;
	float:right;
}

.mainSearchBoxLeft div
{
	width:100%;
	margin-top:20px;
}


.mainPageVideo
{
	width:100%;
}

.mainPageVideoInsideDiv
{
	width:95%;
	margin-top:10px;
}


.iconsTable
{
	margin-top:20px;
	padding:0px;
	margin:0px;
	position:relative;
	height:100px;
	overflow:hidden;
}

.tableTD
{
	padding:0px;
	margin:0px;
	height:100px;
	overflow:hidden;
}


.ListRow
{
	overflow:hidden;
	width:100%;
}

.ListRight
{
	width:27%;
	padding:10px;
	float:right;
}

.ListRight img
{
	
}

.ListLeft
{
	width:20%;
	padding-left:20px;
	float:left;
	margin-top:10px;
}

.ListCenter
{
	width:50%;
	text-align:right;
	direction:rtl;
	padding:5px;
	float:right;
}

.ListCenter h3
{
	font-size:16px;
	color:#4d4d4d;
}

.ListCenter h4
{
	margin-top:-8px;
	font-size:14px;
	color:#ef2275;
}

.ListCenter div
{
	margin-top:-8px;
}

.wide-as-needed 
{
  	direction:ltr; 
    overflow:auto; 
  	white-space: nowrap;
}
	
.scroll 
{ 
	direction:ltr; 
  	min-width: 100%;
}

.daysButton
{
	margin-left:2px;
	border-radius:0px;
	padding:0px 15px 0px 15px !important;
	height:0px !important;
	background-color:#b2d233;
	font-weight:700;
	font-family: 'Rubik', sans-serif;
	height:10px !important;
	color:#4d4d4d;
}

.custom-popup.popup-container .popup {
  width:90%;
}

.loading
{
	direction:rtl;
}

.popup-title
{
   direction:rtl;
}

/* Deal Page */

.dealDiv
{
	position:relative; 
	left:0; 
	top: 0;
	margin-top:15px;
}

#imgDeal
{
	
}


#percent
{
	width:100%;
	position:absolute;
	top:0px;
	overflow:hidden;
}

#percentImg
{
	position:relative;
	right:10px;
	float:right;
}

#percentImg img
{
	width:75%;
}

#percentText
{
	position:absolute;
	text-align:center;
	left:10%;
	padding-top:10px;
	line-height:0.8;
	font-weight:bold;
	font-size:28px;
	color:white;
}

#overlayRight
{
	float:right;
	width:70%;
}

#overlayLeft
{
	float:left;
	width:30%;
	z-index:100;
	position:relative;
	top:0px;
	left:0px;
	overflow:hidden;
}

#overlayImage
{
	width:100%;
	height:80px;
	position:absolute;
	bottom:5px;
	overflow:hidden;
	z-index:100;
}

#overImg
{
	width:100%;
	background-color:black;
	height:80px;
	opacity:0.4;
	position:absolute;
	bottom:0px;
	overflow:hidden;
	z-index:-1;
}

#dateImg
{
	position:relative;
	left:30px;
	top:0px;
	padding-top:7px;
	float:left;
	height:70px;
	width:30px;
}

#dateText
{
	height:70px; 
	margin-top:5px; 
	float:left; 
	margin-left:20px; 
	position:absolute
}

#dateText1
{
	margin-top:23px;
	font-size:20px;
	font-weight:bold;
	margin-left:7px;
	color:white;
}

#dateText2
{
	margin-top:-10px;
	font-size:14px;
	font-weight:bold;
	margin-left:6px;
	color:white;
	text-align:center;
}

#dateText3
{
	margin-top:-10px;
	font-size:14px;
	font-weight:bold;
	margin-left:-20px;
}

#dealInfo1
{
	text-align:right;
	font-size:16px;
	font-weight:bold;
	direction:rtl;
	margin-right:10px;
	color:white;
	margin-top:7px;
}

#dealInfo2
{
	text-align:right;
	font-size:14px;
	font-weight:bold;
	margin-right:10px;
	color:white;
	margin-top:-7px;
}

#dealInfo3
{
	text-align:right;
	font-size:16px;
	margin-right:10px;
	color:white;
	margin-top:-7px;
	direction:rtl;
}

#newPrice
{
	text-decoration:line-through;
	color:#d6a82a
	
}
#oldPrice
{
	color:#D6D6D6;
}

#oldPrice1
{
	color:#22aab0;
	font-weight:bold;
}

/* Deal Page */

.DealMainImage
{
	width:100%;
	background-color:white;
	 -moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}

.DealMainInfo
{
	width:100%;
	background-color:white;
	text-align:right;
	direction:rtl;
	padding:15px;
	 -moz-box-shadow: 0 0 3px #999;
	 -webkit-box-shadow: 0 0 3px #999;
     box-shadow: 0 0 3px #999;
}



.DealPageTitle
{
	text-align:right; 
	padding:15px;
	direction:rtl;
}

.DelaInfo
{
	text-align:right;
	direction:rtl;
	padding-top:8px !important;
	padding-bottom:8px;
}


.bName
{
	font-size:17px;
	color:#4d4d4d;
	font-weight:bold;
}



/*Info modal layout*/

.infoMainDiv .popup
{
    background-color: transparent;
    padding-top: 30px;
    width: 350px;
    height: 430px;
}

.infoMainDiv .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.infoBlock {
    margin-top: 20px;
}

.infoMainImg {
    width: 94%;
    margin: 0 3%;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-top: 5px solid white;
}

.infoPlaceHolder {
	background-color:white;
	overflow:hidden;
    width: 94%;
    margin: -5px 3% 0 3%;
    padding: 5px;
}

.infoCloseButton {
	right:-10px;
	top:2px;
	position:absolute;
}

.infoLogo
{
	float:right;
	width:20%;
    padding-top: 10px;
}

.infoText
{
	float:right;
	width:60%;
	padding:5px 5px 5px 0;
	text-align:right;
}

.infoTextTitle
{
	font-size:15px;
	font-weight:bold;
}

.infoTextDesc
{
    width: 100%;
	margin-top:-10px;
}

.infoButtons {
    float: left;
    width: 20%;
}

.infoStar {
    padding: 10px 5px 5px 10px;
}

.infoPhone
{
    padding: 5px 5px 5px 10px;
}

/*End of info modal layout*/



/* Deal Css */

.dealImg
{
	width:100%;
	margin-top:10px;
}

.dealBck
{
	position:absolute;
	margin-top:-96px;
	width:95%;
	z-index:1;
}

.dealInfo
{
	position:relative;
	width:100%;
	overflow:hidden;
	margin-top:-96px;
	z-index:100;
	
}

.dealPrice
{
	float:right;
	width:25%;
	margin-top:5px;
}

.dealDetails
{
	float:right;
	position:relative;
	width:58%;
	z-index:100;
	color:#b2d233;
	text-align:right;
}

.dealDetails h3
{
	color:#b2d233;
	font-size:17px;
	font-weight:700;
	margin-top:10px;
}

.dealDetails p
{
	color:#b2d233;
	font-size:12px;
	font-weight:600;
	direction:rtl;
	margin-top:-10px;
}


.dealPlace
{
	float:right;
	position:relative;
	width:12%;
	z-index:100;
	color:#b2d233;
	text-align:right;
	margin-top:15px;
	margin-right:10px;
}

.dealPlace p
{
	color:#b2d233;
	font-size:11px;
	font-weight:600;
	direction:rtl;
	margin-top:5px;
	text-align:center;
	line-height:1;
}

.newPrice
{
	position:absolute;
	z-index:100;
	font-size:30px;
	margin-top:20px;
	color:#4d4d4d;
	direction:rtl;
	font-family: 'Rubik', sans-serif;
	word-spacing:-7px;
}

.oldPrice
{
	position:absolute;
	z-index:100;
	font-size:9px;
	margin-top:40px;
	color:#4d4d4d;
	direction:rtl;
	font-weight:300;
	font-family: 'Rubik', sans-serif;
}

/* manage card page*/
.editTitle
{
	position:absolute;
	left:8px;
	top:5px;
	width:25px;
}

.editBussiness
{
	position:absolute;
	margin-left:18px;
	margin-top:12px;
	width:25px;
}

.delBussiness
{
	position:absolute;
	margin-left:2px;
	margin-top:2px;
	width:25px;
}

.editImages
{
	width:35px;
	margin-left:4px;
}



/*Login page layout*/

.loginInputDiv{
    padding: 10px;
}

.loginInput
{
    font-size:120%;
    font-weight:bold;
    height:50px !important;
    text-align:center;
    width:100%;
    background: #F0F1F1;
}


.loginInputTextarea
{
    text-align:right;
    width:100%;
    background: #F0F1F1;
    padding: 5px;
}

.loginHeader {
    font-size: 150%;
    padding: 0px;
    font-weight: bold;
	margin-top:0px;
}

.loginHr {
    width:90%;
    margin: 5% 5%;
    height:3px;
    background: #FCC900;

}

.loginForgotPass {
    padding-top: 15px;
}

.contactButton {
    padding-top: 30px;
}

/*End of login page layout*/



/*Info modal layout*/

.infoMainDiv .popup
{
    background-color: transparent;
    padding-top: 30px;
    width: 350px;
    height: 430px;
}

.infoMainDiv .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.infoBlock {
    margin-top: 20px;
}

.infoMainImg {
    width: 94%;
    margin: 0 3%;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-top: 5px solid white;
}

.infoPlaceHolder {
	background-color:white;
	overflow:hidden;
    width: 94%;
    margin: -5px 3% 0 3%;
    padding: 5px;
}

.infoCloseButton {
	right:-10px;
	top:2px;
	position:absolute;
}

.infoLogo
{
	float:right;
	width:20%;
    padding-top: 10px;
}

.infoText
{
	float:right;
	width:60%;
	padding:5px 5px 5px 0;
	text-align:right;
}

.infoTextTitle
{
	font-size:15px;
	font-weight:bold;
}

.infoTextDesc
{
    width: 100%;
	margin-top:-10px;
}

.infoButtons {
    float: left;
    width: 20%;
}

.infoStar {
    padding: 10px 5px 5px 10px;
}

.infoPhone
{
    padding: 5px 5px 5px 10px;
}

/*End of info modal layout*/

/* נכסים */
.ListRow2
{
	overflow:hidden;
	width:100%;
}

.ListRight2
{
	width:27%;
	padding:10px;
	float:right;
}

.ListRight2 img
{
	border:4px solid #d5d6d5
}

.ListLeft2
{
	width:10%;
	padding-left:20px;
	float:left;
	margin-top:30px;
}

.ListCenter2
{
	text-align:right;
	direction:rtl;
	padding:5px;
	float:right;
}

.ListCenter2 h3
{
	font-size:16px;
	color:#686868;
	font-weight:bold;
}

.ListCenter2 h4
{
	margin-top:-8px;
	font-size:14px;
	color:#686868;
}

.ListCenter2 div
{
	margin-top:-8px;
}



















































































